 <div>
  <div *ngIf="menu">

<mat-toolbar class="mat">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()" (click)="img()">menu</mat-icon>
    </button>
    <h1>cuteHR</h1>
  
    <div  id="rd1">
      

    </div>
    <img src=" .\assets\rd1.png" class="rd1">
    <img src=".\assets\quest.jpg" class="rd2">
    <h3> {{ dob | date:'mediumDate'}}</h3>
    
  </mat-toolbar-row>
</mat-toolbar>
</div>

<div  *ngIf="employe1">
  <button (click)="tolbar()" class="but">menu</button>
  <app-employee></app-employee>
 
  
</div>
<img src=".\assets\hr.png" class="rd3" *ngIf="image" >

  <div class="div1">

 <mat-sidenav-container >

  <mat-sidenav #sidenav>
    <mat-nav-list >
      
      <button mat-list-item  (click)="employee()"> employee </button>
      <a mat-list-item [routerLink]="'/create-account'"> Create Account </a>
      <a mat-list-item [routerLink]="'/contacts'"> Contacts </a>
      <a mat-list-item [routerLink]="'/create-contact'"> Create Contact </a>
      <a mat-list-item [routerLink]="'/activities'"> Activities </a>
      <a mat-list-item [routerLink]="'/create-activity'"> Create Activity </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;" *ngIf="toolbar" >
   
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
</div>
<router-outlet></router-outlet>
 





<!--table>
  <tr>
<td colspan="6"-->
  